.list button {
    font-size: small;
    margin: 10px;
    font-weight: 600;
    padding: 0.5em 1em;
    /* border: 2px solid black; */
    /* border-radius: 20px; */
}

.list-group-item {
    border: 0;
    border-bottom: 1px solid lightgreen;
    padding-bottom: 1px;
}

.check-btn {
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.edit-btn {
    /* background-color: whitesmoke; */
    align-content: center;
    /* width: 0.3em;
    height: 25px; */
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.delete-btn {
    color: red;
    border: 1px solid red;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.undone {
    padding-bottom: 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
}

.done {
    padding-bottom: 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    text-decoration: line-through;
    color: gray;
}