.about-app {
    margin: 15vh auto;
    padding: 3% 7% 5% 7%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    outline: 1px solid lightgray;
    transition: all 0.25s ease-in-out;
}

.about-app:hover {
    outline: 5px solid #79c3b4;
}

.about-app h1 {
    font-weight: bolder;
    font-size: 50px;
    font-family: cursive;
    color: black;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
    text-align: center;
    background: linear-gradient(to right, #79c3b4 30%, #75FA73 70%);
    background-clip: padding-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-app p {
    text-align: justify;
}