.todo {
    padding: 5% 10% 20% 10%;
    text-align: center;
    /* background-color: ; */
}

.todo h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    background: linear-gradient(to right, #F0D671 0%, #75FA73 100%);
    background-clip: padding-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.todo-form h3 {
    color: var(--clr-primary-1);
    margin-bottom: 1.5rem;
    text-align: center;
  }
.form-control {
    display: flex;
    justify-content: center;
  }

.todo-input {
    padding: 0.25rem;
    padding-left: 1rem;
    background: gray;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    color: gray;
    margin: 5px;
  }