@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    
}

#red {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 25px;
    margin: 25px;
    display: inline-block;
}

#blue {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 25px;
    margin: 25px;
    display: inline-block;
}

#green {
    text-align: center;
    width: 350px;
    height: 350px;
    background-color: green;
    margin: 25px;
    border-radius: 20px;
}