.navbar {
    padding: 0;
    height: 100vh;
    background-color: white;
    top: 0;
    bottom: 0;
}

.navbar div {
    flex-basis: auto;
}

.navbar div .nav {
    margin: 15vh 1vw 5vh 1vw;
    width: 10vw;
}

.close-btn {
    padding: 5px 1.75vw;
    height: 3vh;
    width: 3vw;
    top: 2.1vh;
    left: 7.25vw;
    margin-top: 0;
}


.close-icon {
    top: 2.5vh;
    left: 8.5vw;
}

.close-btn:hover {
    color: white;
}

.tab-content {
    padding: 5vh 5vw;
    height: 100vh;
    width: 88vw;
    background: linear-gradient(to right, #79c3b4 0%, #75FA73 100%);;
}

.nav .nav-link {
    margin: 0.4em 0;
}

.btn {
    color: #79c3b4;
    border: 1px solid #79c3b4;
}

.nav .btn {
    border: 1px solid #79c3b4;
}

.btn:hover {
    color: white;
    font-weight: 500;
    transition-duration: 0.4s;
    border-color: #75FA73;
    background: linear-gradient(to right, #79c3b4 5%, #75FA73 95%);
}

.nav .active {
    color: white;
    font-weight: 500;
    transition-duration: 0.4s;
    border-color: #75FA73;
    background: linear-gradient(to right, #79c3b4 5%, #75FA73 95%);
}